<mat-card>
  <mat-card-header>
    <mat-card-title>New rule</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="form" style="display: flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
      <mat-form-field style="flex: 1;">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text">
        <mat-error *ngIf="form.get('name').invalid">Required</mat-error>
      </mat-form-field>
      <mat-checkbox class="mx-4" formControlName="autoAssign">Auto assign</mat-checkbox>
      <button mat-button mat-icon-button [matMenuTriggerFor]="autoAssignInfo" matTooltip="Info about auto assign">
        <mat-icon>info</mat-icon>
      </button>
      <mat-menu #autoAssignInfo>
        Info about auto assign
      </mat-menu>
    </div>
    <mat-form-field style="flex: 1">
      <mat-label>Description</mat-label>
      <textarea matTextareaAutosize
                [matAutosizeMinRows]="4"
                [matAutosizeMaxRows]="4"
                matInput formControlName="description"></textarea>
    </mat-form-field>
    <app-categories-select label="Category"
                           [required]="true"
                           formControlName="category"></app-categories-select>

    <mat-card-title>Logic</mat-card-title>
    <mat-card-subtitle>And</mat-card-subtitle>
    <div *ngFor="let andLogic of getFormArrayControls('andLogic'); let i = index;"
         style="display: flex; flex-direction: row;">
      <app-rules-logic [formControl]="andLogic" style="flex: 1;">
      </app-rules-logic>
      <button mat-button mat-icon-button color="warn" (click)="removeLogic('andLogic', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-card-actions>
      <button mat-button mat-stroked-button color="primary" (click)="addCondition('andLogic')">Add 'And' condition
      </button>
    </mat-card-actions>

    <mat-card-subtitle>Or</mat-card-subtitle>

    <div *ngFor="let andLogic of getFormArrayControls('orLogic'); let i = index;"
         style="display: flex; flex-direction: row;">
      <app-rules-logic [formControl]="andLogic" style="flex: 1;">
      </app-rules-logic>
      <button mat-button mat-icon-button color="warn" (click)="removeLogic('orLogic', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <mat-card-actions>
      <button mat-button mat-stroked-button color="primary" (click)="addCondition('orLogic')">Add 'Or' condition
      </button>
    </mat-card-actions>

    <mat-card-actions style="display:flex; flex-direction: row; justify-content: end;">
      <a mat-button mat-raised-button color="warn" routerLink="/rules">Cancel</a>
      <button mat-button mat-raised-button [disabled]="form.invalid && form.dirty" color="accent" (click)="save()">Save</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
