<mat-card class="mb-2">

  <mat-card-header>
    <mat-card-title>
      Category group
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="column" [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matTextareaAutosize
                [matAutosizeMinRows]="2"
                [matAutosizeMaxRows]="4"
                matInput formControlName="description"></textarea>
    </mat-form-field>
    <div class="column">
      <mat-label *ngIf="getSubCategories().length > 0">Categories</mat-label>
      <div *ngFor="let subCategory of getSubCategories(); let index = index" [formGroup]="subCategory"
           class="column">
        <div class="category-button-container">
          <mat-label>{{index + 1}})</mat-label>
          <button (click)="removeSubCategory(index)"
                  mat-button mat-icon-button>
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-hint *ngIf="subCategory.get('name').invalid && subCategory.get('name').touched">Invalid input
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matTextareaAutosize
                    [matAutosizeMinRows]="2"
                    [matAutosizeMaxRows]="4"
                    matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="category-button-container mb-0">
    <button class="ml-5" color="primary" mat-raised-button (click)="addSubCategory()">Add category</button>
    <div>
      <a class="mx-2" color="warn" mat-raised-button [routerLink]="['../']">Cancel</a>
      <button mat-raised-button color="accent" [disabled]="form.invalid" (click)="submit()">Save</button>
    </div>
  </mat-card-actions>

</mat-card>
