<!--
todo:
  Category-group:
    Can't think of a reason it should have a detail page
    Will have delete button, will display dialog to confirm and move/delete categories within the group
    Will have edit "button" <a>, "routes" to the dialog
  Category:
    The idea is if you click on an item you go to the detail page
    Will have delete button, display dialog to confirm, maybe show number of transfers it effects
    Will have edit "button" <a>, "routes" to the dialog
  No data scenario
-->

<div cdkDropListGroup class="example-container" style="flex: 1">
  <!-- All lists in here will be connected. -->
  <div class="example-list" cdkDropList *ngFor="let group of categoryGroups$ | async"
       [cdkDropListData]="group" (cdkDropListDropped)="drop($event)">
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 0 8px;">
      <div style="flex-direction: column; flex: 1">
        <h2 class="mt-2 mb-0">{{group.name}}</h2>
        <p class="my-0">{{group.description}}</p>
        <h4 *ngIf="group.categories.length > 0" class="my-2">Items:</h4>
      </div>
      <a mat-icon-button [routerLink]="['edit', group.id]"><mat-icon>edit</mat-icon></a>
    </div>
    <div class="example-bod p-2" style="border: 1px solid red;" *ngFor="let category of group.categories" cdkDrag>
      <p class="m-0"><span>{{category.name}}</span></p>
      <p class="m-0"><span><small *ngIf="category.description"> - {{category.description}}</small></span></p>
    </div>
  </div>
</div>
