<!--
todo:
  Think Trello,
  maybe have a button to enable editing, as all assigned-mutations might not be in the correct category group anymore
  Need to give feedback to the user that editing this will have consequences
-->
<a routerLinkActive="hide" color="primary"
   class="category-group-create-link"
   [routerLink]="['add']" mat-raised-button>Create category-group</a>

<router-outlet></router-outlet>

<div cdkDropListGroup>
  <mat-card class="category-group-list" cdkDropList *ngFor="let group of getFormGroups(); let i = index"
            [cdkDropListData]="group" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="isSaving$ | async">
    <mat-card-header class="category-group-header">
      <div class="category-group-header-content">
        <h2 class="mt-2">{{group.get('name').value}}</h2>
        <mat-card-subtitle class="mt-0">{{group.get('description').value}}</mat-card-subtitle>
      </div>

      <button mat-icon-button mat-button
              [disabled]="getCategoriesFormArray(group).length > 0"
              (click)="removeCategoryGroup(i)"
              color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p class="empty-category-container" *ngIf="getCategoriesFormArray(group).controls.length === 0">Empty</p>
      <h4 *ngIf="getCategoriesFormArray(group).controls.length > 0" class="m-2 pl-8">Categories</h4>
      <div class="category-container" *ngFor="let category of getCategoriesFormArray(group).controls" cdkDrag
           cdkDragLockAxis="y">
        <app-category-detail [category]="category"></app-category-detail>
      </div>
    </mat-card-content>

  </mat-card>
</div>
