<mat-label class="logic-label" *ngIf="label">{{label}}</mat-label>
<div class="logic-group"
     [formGroup]="logicGroup"
     *ngFor="let logicGroup of array.controls; let index = index">
  <app-mat-select [control]="logicGroup.get('rule')"
                  label="Rule"
                  class="logic-mat-select"
                  [options]="ruleOptions"></app-mat-select>

  <app-mat-input class="logic-mat-input"
                 [control]="logicGroup.get('value')"
                 [type]="valueType"
                 label="Value"></app-mat-input>

  <div style="display: flex; flex-direction: row; align-items: center">
    <mat-radio-group *ngIf="logicGroup.get('andOr')"
                     [formControl]="logicGroup.get('andOr')"
                     aria-label="Select an option">
      <mat-error *ngIf="logicGroup.invalid">This field is required</mat-error>
      <mat-radio-button class="logic-radio-button" value="and">And</mat-radio-button>
      <mat-radio-button class="logic-radio-button" value="or">Or</mat-radio-button>
    </mat-radio-group>

    <button
      (click)="removeLogicEntry(index)" class="remove-logic-button">
      <mat-icon color="warn">remove_circle</mat-icon>
    </button>
  </div>

</div>
<button [disabled]="array.invalid"
        (click)="addLogic()"
        class="add-logic-button">
  <mat-icon>add_circle_outline</mat-icon>
</button>
