.add-logic-button {
  color: green;
  padding: 0;
}

.remove-logic-button, .add-logic-button {
  border: 0;
  background-color: inherit;
}

.logic-label {
  display: flex;
}

.logic-group {
  display: flex; align-items: center;
}

.logic-radio-button, .logic-mat-input {
  margin: 0 0.25rem;
}

.logic-mat-select {
  margin-right: 0.25rem;
}
