@import '../../../shared/styles/create-link.styles';
@import '../../../../assets/variables.styles';

:host {
  display: flex;
  flex-direction: column;
  margin: 8px;

  @media (max-width: $extra-small-devices-max-width) {
    margin: 8px 0;
  }
}

.rule-create-link {
  @include create-link();
}

.rule-create-link.hide {
  @include create-link-hide();
}
