<h2 class="m-0">Split invoice</h2>
<form [formGroup]="form" class="column-container m-0">
  <mat-form-field>
    <mat-label>Account number</mat-label>
    <input class="cursor-default" matInput readonly value="{{data.transferMutation.accountNumber}}">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Transaction date</mat-label>
    <input class="cursor-default" matInput readonly [value]="data.transferMutation.transactionDate | date">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start balance</mat-label>
    <input class="cursor-default" matInput readonly [value]="data.transferMutation.startBalance | customCurrency">
  </mat-form-field>

  <mat-form-field>
    <mat-label>End balance</mat-label>
    <input class="cursor-default" matInput readonly [value]="data.transferMutation.endBalance | customCurrency">
  </mat-form-field>

  <div class="transfer-mutation-form-pair">
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input class="cursor-default" matInput readonly value="{{ocInvoice.amount}}">
    </mat-form-field>

    <mat-form-field>
      <mat-label>New</mat-label>
      <input matInput formControlName="amount">
      <mat-error *ngIf="form.get('amount').touched && form.get('amount').invalid">
        Amount is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="transfer-mutation-form-pair">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea class="cursor-default"
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                matInput readonly [value]="ocInvoice.description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New</mat-label>
      <textarea cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                matInput formControlName="description"></textarea>
      <mat-error *ngIf="form.get('description').touched && form.get('description').invalid">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="transfer-mutation-form-pair">
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <textarea class="cursor-default"
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5" readonly
                matInput [value]="ocInvoice.comment || ''"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New</mat-label>
      <textarea cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                matInput formControlName="comment"></textarea>
      <mat-error *ngIf="form.get('comment').touched && form.get('comment').invalid">
        Comment is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="transfer-mutation-form-pair">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input class="cursor-default" readonly matInput value="{{ocInvoice?.category?.name || ''}}">
    </mat-form-field>
    <app-categories-select label="New" [control]="form.get('category')"></app-categories-select>
  </div>
</form>
<div class="transfer-mutation-controls-container">
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button [disabled]="form.invalid" mat-raised-button (click)="save()">Save</button>
</div>
