<div class="card m-2">
  <div class="card-body">

  </div>
</div>

<div class="card m-2">
  <form [formGroup]="hintForm" *ngIf="hintForm" class="card-body">

    <h5>Logic</h5>
    <div class="amount-container">
      <div class="radio-item" formArrayName="amountLogic">
        <select [formControl]="logic" *ngFor="let logic of amountLogic">
          <option *ngFor="let option of amountOptions">{{option}}</option>
        </select>
      </div>
      <div class="radio-item" formArrayName="amount">
        <input type="number" [formControl]="amount" *ngFor="let amount of amountControls">
      </div>
    </div>
    <button class="btn btn-primary" (click)="addAmountRule()">Add rule</button>

    <h5>Description</h5>
    <div class="description-container">
      <div class="description-item" formArrayName="descriptionLogic">
        <select [formControl]="description" *ngFor="let description of descriptionLogic">
          <option *ngFor="let option of descriptionOptions">{{option}}</option>
        </select>
      </div>
      <div formArrayName="description">
        <input type="text" [formControl]="description" *ngFor="let description of description">
      </div>
    </div>
    <button class="btn btn-primary" (click)="addDescriptionRule()">Add rule</button>

    <div class="category-container">
      <label for="category">Assign to:</label>
      <select id="category" formControlName="category">
        <option *ngFor="let category of categories">Cat: {{category.category}},
          Sub-cat: {{category.subCategory}}</option>
      </select>
    </div>
  </form>
</div>
