<form [formGroup]="formCategoryGroup" [class.edit-mode]="editModeControl.value"
      class="category-form" *ngIf="formCategoryGroup">
  <div class="category-form-controls-container">
    <h3 class="m-0">Group name</h3>
    <mat-form-field>
      <input type="text" matInput formControlName="name" [readonly]="!editModeControl.value">
      <button mat-button class="clear-form-control-button"
              [class.hidden]="!formCategoryGroup.get('name').value || !editModeControl.value"
              matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('name')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <h4 class="m-0">Group description</h4>
    <mat-form-field>
      <input type="text" matInput formControlName="description" [readonly]="!editModeControl.value">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" class="clear-form-control-button"
              [class.hidden]="!formCategoryGroup.get('description').value || !editModeControl.value"
              (click)="clearControl('description')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="category-crud-controls-container" [class.show-controls]="editModeControl.value">
      <button mat-button mat-stroked-button color="primary"
              (click)="save()"
              [disabled]="formCategoryGroup.pristine || formCategoryGroup.invalid">Save
      </button>
      <button mat-button mat-stroked-button (click)="cancel()">Cancel</button>
    </div>

  </div>
  <div class="edit-category-button-container">

    <button class="edit-category-button" mat-icon-button mat-button
            (click)="editModeControl.setValue(!editModeControl.value)">
      <mat-icon>edit</mat-icon>
    </button>
    <!-- todo: Implement action menu to confirm -->
    <button mat-button mat-icon-button color="warn" class="edit-category-button"
            [matMenuTriggerFor]="menu"
            [disabled]="categoriesLength() > 0">
      <mat-icon color="warn">delete</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div mat-menu-item disabled>Are you sure?</div>
      <button mat-menu-item (click)="deleteCategoryGroup()">Confirm</button>
    </mat-menu>

    <button class="edit-category-button" mat-icon-button mat-button [disabled]="editModeControl.value === false"
            (click)="toggleNewCategory()"><mat-icon color="accent">add</mat-icon></button>
  </div>
</form>
<div class="add-category-container" [class.hidden]="newCategory.disabled">
  <app-add-category [parentId]="formCategoryGroup.get('id').value" (cancelAdd)="newCategory.disable()"
                       [formControl]="newCategory"></app-add-category>
</div>
