.rules-list {
  display: grid;
  grid-template-columns: auto 100px;
}

.action-bar {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rule-action-button {
  margin: 0.5rem 0;
}
