<main class="container column-container">
  <section class="content">
    <button mat-button>Import</button>
    <button mat-button>Assign mode</button>
  </section>
  <section class="content invoice-and-filters">
    <mat-card class="filter-container">
      <h3>Filter</h3>
    </mat-card>
      <div class="invoice-items-overflow">
        <mat-card *ngFor="let invoice of test$ | async" class="invoice-item">
          <div class="invoice-detail-container">
            <p>Account number: {{invoice.accountNumber}}</p>
            <p>Amount: {{invoice.amount | currency: 'EUR'}}</p>
            <p>Description: {{invoice.description}}</p>
            <p>Start balance: {{invoice.startBalance | currency: 'EUR'}}</p>
            <p>End balance: {{invoice.endBalance | currency: 'EUR'}}</p>
            <p>Transaction date: {{invoice.transactionDate | date}}</p>
          </div>
          <div class="column-container">
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
          </div>
        </mat-card>
      </div>
  </section>

</main>
