<mat-toolbar class="invoice-toolbar">
  <div>
    <button *ngIf="!file" mat-button color="primary" class="mr-1" (click)="importInvoices.click()">Import</button>
    <button *ngIf="file" mat-raised-button color="primary" class="mr-1" (click)="upload()">Upload</button>
    <button *ngIf="file" mat-raised-button color="warn" class="my-1" (click)="cancelUpload()">Cancel</button>
    <label class="invoices-import-container">
      <input hidden type="file" accept="application/vnd.ms-excel" #importInvoices (change)="incomingFile($event)">
    </label>
    <a *ngIf="!file" mat-button class="my-1">Assign mode</a>
  </div>
  <div>
    <button mat-icon-button class="search-icon" [class.is-small]="isSmall"><mat-icon>search</mat-icon></button>
    <a mat-icon-button routerLinkActive="active" routerLink="list">
      <mat-icon>view_headline</mat-icon>
    </a>
    <a mat-icon-button routerLinkActive="active" routerLink="card">
      <mat-icon>view_agenda</mat-icon>
    </a>
  </div>
</mat-toolbar>

<main class="container column-container">
  <section class="content invoice-and-filters" [class.is-small]="isSmall">
    <app-invoice-filter class="invoice-filter" [class.is-small]="isSmall"></app-invoice-filter>
    <div class="invoice-items-overflow">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
