<main class="container column-container">
  <section class="content">
    <button mat-button>Import</button>
    <button mat-button>Assign mode</button>
  </section>
  <section class="content invoice-and-filters">
    <mat-card class="filter-container">
      <h3>Filter</h3>
    </mat-card>
    <div class="invoice-items-overflow">
      <ng-container *ngFor="let invoice of invoices$ | async">
        <mat-card class="invoice-item">
          <div class="invoice-detail-container">
            <p>Account number: {{invoice.accountNumber}}</p>
            <p>Amount: {{invoice.amount | currency: 'EUR'}}</p>
            <p>Description: {{invoice.description}}</p>
            <p>Start balance: {{invoice.startBalance | currency: 'EUR'}}</p>
            <p>End balance: {{invoice.endBalance | currency: 'EUR'}}</p>
            <p>Transaction date: {{invoice.transactionDate | date}}</p>
          </div>
          <div class="column-container">
            <button (click)="patch(invoice)"
                    aria-label="Edit button"
                    mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="split(invoice)"
                    aria-label="Split button"
                    mat-icon-button>
              <mat-icon *ngIf="splitItem?.id !== invoice.id">file_copy</mat-icon>
              <mat-icon *ngIf="splitItem?.id === invoice.id">close</mat-icon>
            </button>
            <button (click)="remove(invoice.id)"
                    aria-label="Delete button"
                    mat-icon-button
                    color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card>

        <mat-card *ngIf="splitItem?.id === invoice.id" class="invoice-item">
          <div class="invoice-detail-container">
            <p>Account number: {{splitItem.accountNumber}}</p>
            <p>Amount: {{splitItem.amount | currency: 'EUR'}}</p>
            <p>Description: {{splitItem.description}}</p>
            <p>Start balance: {{splitItem.startBalance | currency: 'EUR'}}</p>
            <p>End balance: {{splitItem.endBalance | currency: 'EUR'}}</p>
            <p>Transaction date: {{splitItem.transactionDate | date}}</p>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </section>

</main>
