.invoice-items-overflow {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.invoice-and-filters {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: calc(100vh - 68px);
  padding: 10px 0;
}

.invoices-import-container {
  button {
    width: 100%;
  }
}

::ng-deep {
  .mat-button.active .mat-button-focus-overlay {
    opacity: 0.04 !important;
  }
}
