<mat-card>
  <mat-chip-list class="row-container">

    <a routerLinkActive="active" routerLink="/rules/all" class="chip-link">
      View rules
    </a>
    <a class="chip-link" routerLinkActive="active" routerLink="/rules/create">
      Create new rule
    </a>
    <!-- todo: Show these only if not logged in -->
    <div class="import-export-button-container">
      <mat-chip class="import-export-button" color="primary" selected>
        <label for="import" class="no-margin">Import...</label>
        <input (change)="importRules($event)" type="file" hidden id="import">
      </mat-chip>
      <!-- todo: Show these only if not logged in -->
      <mat-chip class="import-export-button" color="primary" selected (click)="downloadJson()">Export...</mat-chip>
    </div>

  </mat-chip-list>
</mat-card>
