<main class="container column-container" style="padding-top: 8px;" *ngIf="transfer$ | async">
  <mat-card>
    <p>Account number: {{(transfer$ | async).accountNumber}}</p>
    <p>Start balance: {{(transfer$ | async).startBalance | customCurrency}}</p>
    <p>End balance: {{(transfer$ | async).endBalance | customCurrency}}</p>
    <p>Value date: {{(transfer$ | async).valueDate | date}}</p>
    <p>Transaction date: {{(transfer$ | async).transactionDate | date}}</p>
    <p>Edits:</p>
  </mat-card>
  <mat-accordion displayMode="flat">
    <mat-expansion-panel *ngFor="let mutation of (transfer$ | async).mutations">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{mutation.updatedAt | date: 'long'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{mutation | json }}</pre>
      <p>Description: {{mutation.description}}</p>
      <p>Comment: {{mutation.comment}}</p>
      <p>Amount: {{mutation.amount}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</main>
