<mat-card class="filter-container">
  <ng-content></ng-content>
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    <h3>Filter</h3>
    <button (click)="resetForm()" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <form [formGroup]="filterForm" style="display: flex; flex-direction: column;">
    <div formGroupName="date" style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label>From...</mat-label>
        <input matInput [max]="today" [matDatepicker]="picker1" formControlName="from">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker startView="year" #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>To...</mat-label>
        <input matInput [max]="today" [min]="getControl('date.from').value || null" [matDatepicker]="picker"
               formControlName="to">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker startView="year" #picker></mat-datepicker>
      </mat-form-field>

    </div>

    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select formControlName="categories">
        <mat-option [value]="null"></mat-option>
        <mat-option [value]="group.id" *ngFor="let group of categoryGroups$ | async">{{group.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="margin-top: 12px; display: flex; flex-direction: column">

      <mat-slide-toggle formControlName="minAmountToggle">Minimum amount</mat-slide-toggle>
      <mat-slider formControlName="minAmount"
                  thumbLabel
                  tickInterval="auto"
                  step="10"
                  [displayWith]="formatLabel"
                  [min]="minAmount"
                  [max]="maxAmount"></mat-slider>

      <mat-slide-toggle formControlName="maxAmountToggle">Maximum amount</mat-slide-toggle>
      <mat-slider formControlName="maxAmount"
                  thumbLabel
                  tickInterval="auto"
                  step="10"
                  [displayWith]="formatLabel"
                  [min]="minAmount"
                  [max]="maxAmount"></mat-slider>
    </div>
  </form>
  <pre>Record count: {{recordCount$ | async}}</pre>
</mat-card>
