<form [formGroup]="form" *ngIf="form" class="pr-2">

  <app-mat-input label="Name" type="text" [control]="form.get('name')"></app-mat-input>
  <app-rule-logic [ruleOptions]="testAmountOptions" [array]="getArray('amount')" valueType="number" label="Amount">
  </app-rule-logic>
  <app-rule-logic [ruleOptions]="testDescriptionOptions" [array]="getArray('description')" valueType="text" label="Description">
  </app-rule-logic>

  <div class="column-container">
    <app-mat-select-groups
      [groups]="categoryGroups"
      groupKey="categories"
      [control]="form.get('categoryId')"
      label="Category"></app-mat-select-groups>

    <mat-checkbox class="add-another-rule-check"
                  formControlName="autoAssign">Auto assign
    </mat-checkbox>
  </div>
  <button mat-raised-button (click)="saveChanges()" [disabled]="form.invalid">Save changes</button>
</form>
<div *ngIf="!form" class="alert alert-warning">
  <p>Looks like something went wrong</p>
</div>
