.category-form {

  &.edit-mode, &:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  }

  @media (max-width: 991.98px) {
    .edit-category-button {
      opacity: 1;
    }
    .edit-category-button:disabled {
      opacity: 0.5;
    }
  }

  @media (min-width: 992px) {
    &:hover, &:focus {
      .edit-category-button {
        opacity: 0.5;

        &.edit-button {
          opacity: 1;
        }
      }
    }

    &.edit-mode, &.edit-mode:hover {
      .edit-category-button {
        opacity: 1;
      }
    }
  }
}

.edit-mode {
  .category-crud-controls-container {
    opacity: 1;
    max-height: 40px;
  }
}

.edit-category-button {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  flex: 0 0 auto;
  color: rgba(0, 0, 0);
}

.category-crud-controls-container {
  display: flex;
  justify-content: space-between;
  transition: 300ms ease-in-out;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
