<button class="" (click)="showAll = !showAll">Show all</button>
<button class="" (click)="showAll = false">Assign categories</button>
<button class="btn btn-secondary m-2">Create categories</button>

<div *ngFor="let entry of formattedData; let index = index;">
  <ng-container *ngIf="showEntry(entry) && index <= 10">
    <div class="card m-2">
      <div class="card-body">
        <p class="mb-0">Date: {{entry.transactionDate | date}}</p>
        <p class="mb-0">Amount: {{entry.amount | currency: 'EUR'}}</p>
        <p class="mb-0">Start Saldo: {{entry.startSaldo}}</p>
        <p class="mb-0">End Saldo: {{entry.endSaldo}}</p>
        <p class="mb-0">Description: {{entry.description}}</p>
        <ng-container *ngIf="entry.category > 0; else selectCategory">
          <p class="mb-0">Category: {{entry.category.category}}</p>
          <p class="mb-0">Sub-category: {{entry.category.subCategory}}</p>
        </ng-container>
        <ng-template #selectCategory>
          <label>Select a category</label>
          <select>
            <option></option>
            <option *ngFor="let category of categories">Cat: {{category.category}}, Sub-cat: {{category.subCategory}}</option>
          </select>
        </ng-template>
        <pre>{{entry | json}}</pre>
      </div>
    </div>
  </ng-container>
</div>
