<mat-card [formGroup]="form" class="rule-detail my-2"
          [class.edit-mode]="editMode">
  <div class="rule-detail-content">
    <mat-card-header>
      <mat-card-title>Rule: {{rule.name}}</mat-card-title>
    </mat-card-header>
    <div class="column">
      <div class="row align-items-center">
        <mat-form-field class="f-1">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-checkbox class="mx-4" formControlName="autoAssign">Auto assign</mat-checkbox>
        <app-rule-auto-assign-info [disabled]="form.disabled"></app-rule-auto-assign-info>
      </div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matTextareaAutosize
                  [matAutosizeMinRows]="2"
                  [matAutosizeMaxRows]="4"
                  matInput formControlName="description"></textarea>
      </mat-form-field>
      <app-categories-select label="Category" [control]="form.get('category')"></app-categories-select>
      <div class="control-group"
           [class.invalid]="form.dirty && form.get('orLogic').dirty && form.get('andLogic').dirty && form.get('orLogic').invalid && form.get('andLogic').invalid">
        <div>
          <div>
            <mat-label *ngIf="getFormArrayControls('andLogic').length > 0">Or</mat-label>
            <div class="rule-detail-logic-container"
                 *ngFor="let control of getFormArrayControls('andLogic'); let i = index;">
              <app-rules-logic class="rule-detail-logic" [formControl]="control">
              </app-rules-logic>
              <button mat-button mat-icon-button class="rule-detail-remove-logic"
                      (click)="removeLogicAt('andLogic', i)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="logic-action-buttons">
            <button mat-button mat-stroked-button color="primary"
                    [disabled]="!editMode"
                    (click)="addControlToLogic('andLogic')">Add 'And' logic
            </button>
          </div>
        </div>
        <div>
          <div>
            <mat-label *ngIf="getFormArrayControls('orLogic').length > 0">And</mat-label>
            <div class="rule-detail-logic-container"
                 *ngFor="let control of getFormArrayControls('orLogic'); let i =index;">
              <app-rules-logic class="rule-detail-logic" [formControl]="control">
              </app-rules-logic>
              <button mat-button mat-icon-button class="rule-detail-remove-logic" (click)="removeLogicAt('orLogic', i)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="logic-action-buttons">
            <button mat-button mat-stroked-button color="primary"
                    [disabled]="!editMode"
                    (click)="addControlToLogic('orLogic')">Add 'Or' logic
            </button>
          </div>
        </div>
        <mat-error class="control-group-error" [class.invalid]="form.dirty &&
         form.get('orLogic').dirty &&
          form.get('andLogic').dirty &&
           form.get('orLogic').invalid &&
           form.get('andLogic').invalid">Some logic required
        </mat-error>
      </div>
      <div class="rule-action-buttons">
        <button mat-button mat-stroked-button [disabled]="!editMode || form.pristine" (click)="save()"
                color="primary">Save
        </button>
        <button mat-button mat-stroked-button [disabled]="!editMode" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="rule-side-action-buttons">
    <button class="edit-rule-button edit-button" mat-icon-button mat-button
            (click)="toggleEditMode()">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="close-rule-button" mat-icon-button mat-button (click)="cloneRule()"
            [disabled]="!editMode" matTooltip="Create copy">
      <mat-icon>content_copy</mat-icon>
    </button>
    <div>
      <button class="edit-rule-button" mat-icon-button mat-button
              [matMenuTriggerFor]="menu"
              [disabled]="!editMode">
        <mat-icon color="warn">delete</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div mat-menu-item disabled>Are you sure?</div>
        <button mat-menu-item (click)="deleteRule()">Confirm</button>
      </mat-menu>
    </div>
  </div>
</mat-card>
