<div class="rules-list">
  <div [hidden]="showEdit">
    <label *ngIf="rule.name">Name: {{rule.name}}</label>
    <label>Amount:</label>
    <pre *ngFor="let amount of rule.amount">{{amount | amountRule}}</pre>
    <label>Description:</label>
    <pre *ngFor="let description of rule.description">{{description | descriptionRule}}</pre>
    <label>Auto assign:</label>
    <pre>{{rule.autoAssign}}</pre>
    <label>Assign to: </label>
<!--    <pre>Category: {{getCategoryById(rule.id).category}}</pre>-->
<!--    <pre>Sub-category: {{getCategoryById(rule.id).subCategory}}</pre>-->
  </div>
  <app-rule-edit *ngIf="showEdit" [rule]="rule"></app-rule-edit>
  <!-- todo: Edit/Delete icon & functionality -->
  <div class="action-bar">
    <button class="rule-action-button" mat-raised-button (click)="toggleEdit()">
      <span *ngIf="showEdit">Cancel</span>
      <span *ngIf="!showEdit">Edit</span>
    </button>
    <button class="rule-action-button" mat-raised-button (click)="deleteRule()">Delete</button>
    <!-- todo: Implement -->
    <button class="rule-action-button" mat-raised-button>Duplicate</button>
  </div>
</div>
