@import '../../../../assets/hidden.styles';
@import '../../../../assets/variables.styles';

.edit-mode {
  .rule-action-buttons {
    max-height: 44px;
    opacity: 1;
    margin-top: 8px;
  }

  mat-label {
    opacity: 1;
  }
}

.rule-action-buttons {
  @include hidden-state;
}


.rule-action-buttons, .rule-side-action-buttons {
  display: flex;
  justify-content: space-between;
}

.rule-side-action-buttons {
  flex-direction: column;
  flex: 0;
}

.rule-detail {
  display: flex;
  flex-direction: row;
  mat-label {
    opacity: $disabled-opacity;
  }
  mat-form-field {
    mat-label {
      opacity: inherit;
    }
  }
}

.edit-rule-button:disabled {
  opacity: $disabled-opacity;
}

.rule-detail-content {
  flex: 1;
}
