.transfer-mutation {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: row;
  margin: 0.5em;
}
.transfer-mutation.is-x-small {
  flex-direction: column;
}

.transfer-mutation-detail-container {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.transfer-mutation-controls-container {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.is-x-small .transfer-mutation-controls-container {
  flex-direction: row;
  margin: 0;
}

.transfer-edit-controls {
  display: flex;
  flex-direction: column;
}

.is-x-small .transfer-edit-controls {
  flex-direction: row;
}
