.invoice-item {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.invoice-detail-container {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.hide-icon {
  height: 0;
  visibility: hidden;
  width: 0;
}

.invoice-controls-container {
  margin-left: 1em;
  justify-content: space-between;
}
