<mat-card class="rule-container">
  <mat-card-title>Create a new rule...</mat-card-title>
  <mat-card-content>
    <form [formGroup]="ruleForm">
      <app-mat-input [control]="ruleForm.get('name')"
                     type="text"
                     hint="A name to describe the rule"
                     error="Field must be filled"
                     errorType="required"
                     label="Name"></app-mat-input>

      <hr>

      <app-rule-logic
        [array]="getArray('amount')"
        [ruleOptions]="amountOptions"
        valueType="number"
        label="Amount logic"></app-rule-logic>

      <hr>

      <app-rule-logic
        [array]="getArray('description')"
        [ruleOptions]="descriptionOptions"
        valueType="text"
        label="Description logic"></app-rule-logic>
      <hr>

      <app-mat-select-groups
        [groups]="categoryGroups"
        groupKey="categories"
        [control]="ruleForm.get('categoryId')"
        label="Category"></app-mat-select-groups>
      <mat-checkbox style="margin: 0 1rem;" color="primary" formControlName="autoAssign">Auto assign</mat-checkbox>
      <hr>
      <div class="action-buttons">
        <div>
          <button color="primary"
                  class="add-rule-button"
                  [disabled]="ruleForm.invalid"
                  mat-raised-button
                  (click)="addRule()">Add
          </button>
          <mat-checkbox class="add-another-rule-check"
                        [formControl]="createAnother">Create another
          </mat-checkbox>
        </div>
        <button class="reset-form-button" mat-raised-button (click)="resetForm()">Reset</button>
        <!-- todo: go back-->
        <button color="accent" (click)="goBack()" mat-raised-button>Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
