.rule-container {
  margin: 0.125em 0;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.add-rule-button {
  margin-right: 0.5rem;
}

.add-another-rule-check, .reset-form-button {
  margin: 0 0.5rem;
}
