
<button (click)="yearSelected(year)" *ngFor="let year of categorySums" class="m-1">
  Year: {{year.year}}
</button>

<div *ngIf="selectedYear">
  <pre>Year sum: {{selectedYear.sum}}</pre>
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div style="display: flex; flex-direction: column; justify-content: space-between;" *ngFor="let month of selectedYear.months">
      <button (click)="sumMonthSelected(month)">{{month.month}}</button>
      <pre>Month: {{month.month}}</pre>
      <pre>Sum: {{month.sum}}</pre>
    </div>
  </div>
  <div *ngIf="selectedMonth">
    <ng-container *ngFor="let category of selectedMonth.categories | keyvalue">
      <div *ngIf="category.value !== 'NaN'">
        <p style="height: 1.5em; margin-bottom: 0.5em;">
          {{category.key}}: {{category.value}}
        </p>
        <p style="height: 1.5em; margin-bottom: 0.5em;">
          Calculated per day {{(category.value / 30).toFixed(2)}}
        </p>
        <hr>
      </div>
    </ng-container>
  </div>
</div>

<!--<button (click)="yearSelected(year)" *ngFor="let year of test" class="m-1">-->
<!--  Year: {{year.year}}-->
<!--</button>-->
<!--<div *ngIf="selectedYear" style="display: flex; flex-direction: row">-->
<!--  <ng-container *ngFor="let month of selectedYear.months | keyvalue; let index = index;">-->
<!--    <div *ngIf="month.value.length > 0" class="m-1">-->
<!--      <button (click)="monthSelected(month.value)">{{month.key}}</button>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->
<!--<button (click)="showChanges = !showChanges">Show changes</button>-->
<!--<pre *ngIf="showChanges">{{selectedMonth | json}}</pre>-->
<!--<div *ngIf="selectedMonth && !showChanges">-->
<!--  <p>Sum: {{monthSum}}</p>-->
<!--  <div *ngFor="let item of selectedMonth; let index = index;">-->
<!--    <ng-container *ngIf="!item.category && item.amount < 0">-->
<!--      <div>-->
<!--        <label>Category</label><br>-->
<!--        <button [id]="category.name" [class.hint]="getCssHint(category, item)" *ngFor="let  category of categories" (click)="updateItem(item, category)">{{category.name}}</button>-->

<!--        <pre>{{item | json}}</pre>-->
<!--      </div>-->
<!--    </ng-container>-->

<!--  </div>-->
<!--</div>-->
