$sizes: 1, 2, 3, 4, 5;
.app-root {
  @each $size in $sizes {
    .m-#{$size} {
      margin: #{$size * 4}px;
    }
    .ml-#{$size}, .mx-#{$size} {
      margin-left: #{$size * 4}px;
    }
    .mr-#{$size}, .mx-#{$size} {
      margin-right: #{$size * 4px};
    }
    .mb-#{$size}, .my-#{$size} {
      margin-bottom: #{$size * 4}px;
    }
    .mt-#{$size}, .my-#{$size} {
      margin-top: #{$size * 4px};
    }
    .p-#{$size} {
      padding: #{$size * 4}px;
    }
    .pl-#{$size}, .px-#{$size} {
      padding-left: #{$size * 4}px;
    }
    .pr-#{$size}, .px-#{$size} {
      padding-right: #{$size * 4px};
    }
    .pb-#{$size}, .py-#{$size} {
      padding-bottom: #{$size * 4}px;
    }
    .pt-#{$size}, .py-#{$size} {
      padding-top: #{$size * 4px};
    }
  }

  .ml-auto, .mx-auto {
    margin-left: auto;
  }

  .mr-auto, .mx-auto {
    margin-right: auto;
  }

  .mt-auto, .my-auto {
    margin-top: auto;
  }

  .mb-auto, .my-auto {
    margin-bottom: auto;
  }

  .m-auto {
    margin: auto;
  }

  .w-100 {
    width: 100%;
  }

  .w-75 {
    width: 75%;
  }

  .w-50 {
    width: 50%;
  }

  .w-25 {
    width: 25%;
  }
  .cursor-default {
    cursor: default;
  }

  .container, .column-container, .row-container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
  }

  .column-container {
    flex-direction: column;
  }

  .row-container {
    flex-direction: row;
  }

  .content {
    max-width: 1200px;
  }

}
