.spinner {
  position: absolute;
  background: rgba(0, 0, 0, 0.05);
  height: 100%;
  opacity: 0;
  transition: 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.spinner.is-loading {
  z-index: 1;
  opacity: 1;
}

.category-group-container {
  display: flex;
  flex-direction: column
}
