<div class="m-2 pb-2 column" *ngIf="dataSource?.data.length > 0">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z2 transfer-list-table">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns;">
      <th mat-header-cell *matHeaderCellDef [class.is-x-small]="isXSmall"
          [class.transfer-edit-controls]="column === 'delete'">{{headerColumns[column]}}</th>
      <td mat-cell *matCellDef="let transferMutation; let index = dataIndex" [class.is-x-small]="isXSmall">
        <span *ngIf="column === 'transactionDate'; else deleteCol">{{index + 1}}: {{transferMutation[column] | date}}</span>
        <ng-template #deleteCol>
          <ng-container *ngIf="column === 'delete'; else rest">
            <a mat-icon-button [routerLink]="['/transfers/history', transferMutation.mutationId]"><mat-icon>description</mat-icon></a>
            <button (click)="patch($event, transferMutation)"
                    aria-label="Edit button"
                    mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="split($event, transferMutation)"
                    aria-label="Split button"
                    mat-icon-button>
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-icon-button
                    (click)="remove($event, transferMutation.mutationId)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </ng-container>
        </ng-template>
        <ng-template #rest>{{transferMutation[column]}}</ng-template>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let transferMutation" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="transferMutation == expandedElement ? 'expanded' : 'collapsed'">
          <div *ngIf="transferMutation.description" class="example-element-description">Description:</div>
          <div class="example-element-description">
            {{transferMutation.description}}
          </div>
          <div *ngIf="transferMutation.comment" class="example-element-description">Comment:</div>
          <div class="example-element-description">
            {{transferMutation.comment}}
          </div>
          <div class="example-element-description">Category:</div>
          <div class="example-element-description">{{transferMutation?.category?.name}}</div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let transferMutation; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === transferMutation"
        (click)="expandedElement = expandedElement === transferMutation ? null : transferMutation">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
<app-empty-state *ngIf="dataSource.data?.length === 0" icon="weekend" text="No transfers have been imported yet"></app-empty-state>
<app-load-more class="load-more"></app-load-more>
