<div class="card-body" *ngIf="entry">
  <p class="mb-0">Date: {{entry.transactionDate | date}}</p>
  <p class="mb-0">Amount: {{entry.amount | currency: 'EUR'}}</p>
  <p class="mb-0">Start Saldo: {{entry.startSaldo}}</p>
  <p class="mb-0">End Saldo: {{entry.endSaldo}}</p>
  <p class="mb-0">Description: {{entry.description}}</p>
  <p class="mb-0" *ngIf="entry.category">Category: {{entry.category.category}}</p>
  <p class="mb-0" *ngIf="entry.category">Sub-category: {{entry.category.subCategory}}</p>
</div>
