
<!-- todo: Remove, used for testing -->
<input id="file" type="file" (change)="incomingFile($event)" placeholder="Upload file" accept=".xls">
<button [disabled]="!file" type="button" class="" (click)="upload()" >Upload</button>
<button (click)="test()">Test connection</button>


<pre>Get an easy overview of your finances in a few simple steps</pre>
<section class="container">
  <div>
    <pre>Get started now</pre>
  </div>

  <div>
    <pre>Create an account and upload more to keep track</pre>
  </div>

  <div>
    <pre>Some chart examples</pre>
  </div>

  <div>
    <pre>Step by step instructions?</pre>
  </div>
</section>

