<form [formGroup]="form" style="display: flex; flex-direction: row;">
  <mat-form-field style="flex: 1" class="mr-2">
  <mat-label>Transfer attribute</mat-label>
  <mat-select formControlName="transferKey">
    <mat-option>Some option</mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field style="flex: 1" class="mx-2">
    <mat-label>Value</mat-label>
    <input type="text" matInput formControlName="valueOne">
  </mat-form-field>
  <mat-form-field style="flex: 1" class="mx-2">
    <mat-label>Operator</mat-label>
    <mat-select formControlName="conditionOperator">
      <mat-option>Equals</mat-option>
      <mat-option>Greater than</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="flex: 1" class="ml-2">
    <mat-label>Value</mat-label>
    <input type="text" matInput formControlName="valueTwo">
  </mat-form-field>
</form>
