<h2 style="margin: 0;">Split invoice</h2>
<form [formGroup]="form" class="row-container">
  <!-- Take 2 -->
  <dl>
    <dt class="split-header">Amount</dt>
    <div class="test">
      <div>
        <dt class="split-sub-header">Old</dt>
        <dd>{{ocInvoice.amount}}</dd>
      </div>

      <div>
        <dt class="split-sub-header">New</dt>
        <dd>
          <mat-form-field>
            <mat-label>New</mat-label>
            <input matInput formControlName="amount">
          </mat-form-field>
        </dd>
      </div>
    </div>
  </dl>
</form>
<div style="display: flex; justify-content: space-between">
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
