<h2 class="split-header">Split invoice</h2>
<form [formGroup]="form" class="column-container invoice-form">
  <mat-form-field>
    <mat-label>Account number</mat-label>
    <input matInput readonly value="{{data.invoice.accountNumber}}">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Transaction date</mat-label>
    <input matInput readonly [value]="data.invoice.transactionDate | date">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start balance</mat-label>
    <input matInput readonly [value]="data.invoice.startBalance | customCurrency">
  </mat-form-field>

  <mat-form-field>
    <mat-label>End balance</mat-label>
    <input matInput readonly [value]="data.invoice.endBalance | customCurrency">
  </mat-form-field>

  <div class="invoice-form-pair">
    <mat-form-field class="invoice-form-field">
      <mat-label>Amount</mat-label>
      <input matInput readonly value="{{ocInvoice.amount}}">
    </mat-form-field>

    <mat-form-field class="invoice-form-field">
      <mat-label>New</mat-label>
      <input matInput formControlName="amount">
      <mat-error *ngIf="form.get('amount').touched && form.get('amount').invalid">
        Amount is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="invoice-form-pair">
    <mat-form-field class="invoice-form-field">
      <mat-label>Description</mat-label>
      <textarea cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                matInput readonly [value]="ocInvoice.description"></textarea>
    </mat-form-field>

    <mat-form-field class="invoice-form-field">
      <mat-label>New</mat-label>
      <textarea cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                matInput formControlName="description"></textarea>
      <mat-error *ngIf="form.get('description').touched && form.get('description').invalid">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <div class="invoice-form-pair">
    <mat-form-field class="invoice-form-field">
      <mat-label>Comment</mat-label>
      <textarea cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5" readonly
                matInput [value]="ocInvoice.comment || ''"></textarea>
    </mat-form-field>

    <mat-form-field class="invoice-form-field">
      <mat-label>New</mat-label>
      <textarea cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                matInput formControlName="comment"></textarea>
      <mat-error *ngIf="form.get('comment').touched && form.get('comment').invalid">
        Comment is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <div class="invoice-form-pair">
    <mat-form-field class="invoice-form-field">
      <mat-label>Category</mat-label>
      <input readonly matInput value="{{ocInvoice.categoryId || ''}}">
    </mat-form-field>
    <mat-form-field class="invoice-form-field">
      <mat-label>New</mat-label>
      <mat-select formControlName="categoryId">
        <!-- todo: Implement option groups -->
        <mat-option></mat-option>
        <mat-option [value]="category.id" *ngFor="let category of categories$ | async">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<div class="invoice-controls-container">
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button [disabled]="form.invalid" mat-raised-button (click)="save()">Save</button>
</div>
