.invoice-attribute {
  flex: 1 1 100%;
  width: 100%;
}

.attribute {
  flex: 1 0 50%;
}

.invoice-form-pair {
  display: flex;

  mat-form-field {
    flex: 1;
  }
  @media (max-width: 575.98px) {
    flex-direction: column;
  }

  @media (min-width: 992px) {
    flex-direction: row;
    .invoice-form-field:first-child {
      margin-right: 4px;
    }
    .invoice-form-field:last-child {
      margin-left: 4px;
    }
  }
}

.invoice-form-field {
  width: 100%;
}

.split-sub-header {
  padding-left: 8px;
}

