.invoice-items-overflow {
  flex: 3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.invoice-and-filters {
  height: calc(100vh - 112px);

  .transfer-side-nav {
    box-shadow: none;
  }
}

.is-small-hide {
  display: none;
}

.invoices-import-container {
  button {
    width: 100%;
  }
}

::ng-deep .mat-icon-button.active .mat-ripple.mat-button-ripple {
  transition: 0.5s;
  background: black;
  opacity: 0.08;
}

.invoice-filter {
  flex: 1;
}

.invoice-filter.is-small {
  display: none;
}

.invoice-toolbar {
  justify-content: space-between;
}
