<mat-toolbar class="invoice-toolbar">
  <div>
    <button mat-icon-button [class.active]="opened" class="search-icon mr-1" (click)="sidenav.toggle()"><mat-icon>filter_list</mat-icon></button>
    <button *ngIf="!file" mat-button color="primary" class="mr-1" (click)="importInvoices.click()">Import</button>
    <button *ngIf="file" mat-raised-button color="primary" class="mr-1" (click)="upload()">Upload</button>
    <button *ngIf="file" mat-raised-button color="warn" class="my-1" (click)="cancelUpload()">Cancel</button>
    <label class="invoices-import-container">
      <input hidden type="file" accept="application/vnd.ms-excel" #importInvoices (change)="incomingFile($event)">
    </label>
    <a *ngIf="!file" [routerLink]="['/transfers/assign']" mat-button class="my-1">Assign mode</a>
  </div>
  <div>
    <a mat-icon-button routerLinkActive="active" routerLink="list">
      <mat-icon>view_headline</mat-icon>
    </a>
    <a mat-icon-button routerLinkActive="active" routerLink="card">
      <mat-icon>view_agenda</mat-icon>
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container [autosize]="true" class="invoice-and-filters" >
  <mat-sidenav #sidenav [mode]="sideNavMode" class="transfer-side-nav" [(opened)]="opened" style="background: none">
    <app-transfer-filter></app-transfer-filter>
  </mat-sidenav>
  <mat-sidenav-content class="d-flex">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
