<mat-card style="margin: 0.5rem 0;" *ngFor="let entry of formattedData; let index = index">
  <ng-container *ngIf="!entry.category">
    <app-entry [entry]="entry"></app-entry>
  </ng-container>
  <ng-container *ngIf="index === assignIndex">
    <form [formGroup]="categoryForm" class="card-body" *ngIf="showCategoryMenu">
      <label for="category" class="">Category</label>
      <input id="category" class="" formControlName="category" type="text">

      <label for="subCategory" class="">Sub-category</label>
      <input id="subCategory" class="" formControlName="subCategory" type="text">

      <button mat-raised-button color="accent" class=""
              [disabled]="categoryForm.invalid"
              (click)="addCategory()">Add
      </button>
      <button mat-raised-button color="accent" class=""
              [disabled]="categoryForm.invalid"
              (click)="addAndAssign(index)">Add and assign
      </button>
    </form>

    <!--    todo: adjust styling so first doesn't have margin left -->
    <button mat-raised-button color="primary" style="margin: 0.25rem;"
            *ngFor="let category of categories"
            (click)="assignCategory(index, category)">Cat: {{category.category}}, Sub-cat: {{category.subCategory}}
    </button>
    <hr>
    <button mat-raised-button color="accent" style="margin: 0.25rem;" (click)="toggleCategoryMenu()">Create category
    </button>
    <button mat-raised-button color="accent" style="margin: 0.25rem;" (click)="toggleHintMenu()">Create hint rule
    </button>

  </ng-container>
</mat-card>
