<mat-card class="item" *ngFor="let entry of formattedData; let index = index">
  <ng-container *ngIf="!entry.category">
    <app-entry [entry]="entry"></app-entry>
  </ng-container>
  <ng-container *ngIf="index === assignIndex">
    <form [formGroup]="categoryForm" class="card-body" *ngIf="showCategoryMenu">
      <label for="category" class="">Category</label>
      <input id="category" class="" formControlName="category" type="text">

      <label for="subCategory" class="">Sub-category</label>
      <input id="subCategory" class="" formControlName="subCategory" type="text">

      <button mat-raised-button color="accent" class=""
              [disabled]="categoryForm.invalid"
              (click)="addCategory()">Add
      </button>
      <button mat-raised-button color="accent" class=""
              [disabled]="categoryForm.invalid"
              (click)="addAndAssign(index)">Add and assign
      </button>
    </form>

    <button mat-raised-button color="primary" class="import-action-buttons ml-0"
            *ngFor="let category of categories"
            (click)="assignCategory(index, category)">Cat: {{category.category}}, Sub-cat: {{category.subCategory}}
    </button>
    <hr>
    <button mat-raised-button color="accent" class="import-action-buttons ml-0" (click)="toggleCategoryMenu()">
      Create category
    </button>
    <button mat-raised-button color="accent" class="import-action-buttons" (click)="toggleHintMenu()">
      Create hint rule
    </button>

  </ng-container>
</mat-card>
